{% block content %}
<div class="container-fluid diagonal bg-two" id="timeline">
    <section class="content" id="section4">
        <div class="row ms-auto">
            <div class="col-md-12">
                <div class="col-md-12 p-4">
                    <h2 class="text-center">The Timeline</h2>
                </div>
                <div class="text-center" style="border-color: brown; border-width: 5px; width: 100px; border-style: solid; margin: 0;"></div>
                    <h3 class="text-center p-4">Indonesian Hiphop</h3>
                <ul class="timeline">
                    <li class="timeline-item mb-5">
                        <h5 class="timeline-title">Awal : Artis Pionir</h5>
                        <p class="timeline-date mb-2">Tahun 1990-an</p>
                        <p class="timeline-desc">
                            Seniman Indonesia mulai bereksperimen dengan elemen-elemen hip-hop, mencampurkannya dengan gaya musik lokal. 
                            Pionir awal termasuk Iwa K, yang sering dianggap sebagai "Bapak Hip-Hop Indonesia." Album debutnya, "Kuingin Kembali," yang dirilis pada tahun 1991, dianggap sebagai salah satu album hip-hop pertama di Indonesia.
                        </p>
                    </li>
                
                    <li class="timeline-item mb-5">
                        <h5 class="timeline-title">Pertengahan : Pertumbuhan dan Diversifikasi</h5>
                        <p class="timeline-date mb-2">Tahun 1990-an</p>
                        <p class="timeline-desc">
                            Pertengahan 1990-an melihat pertumbuhan scene hip-hop di Indonesia. 
                            Lebih banyak seniman mengadopsi elemen-elemen hip-hop, termasuk rap ke dalam musik mereka. 
                            Berbagai sub-genre dan gaya dalam hip-hop mulai muncul.
                        </p>
                    </li>
                
                    <li class="timeline-item mb-5">
                        <h5 class="timeline-title">Akhir : Keberhasilan Komersial</h5>
                        <p class="timeline-date mb-2">Tahun 1990-an</p>
                        <p class="timeline-desc">
                            Hip-hop Indonesia meraih kesuksesan komersial pada akhir 1990-an dengan rilis album oleh seniman seperti Iwa K, Neo, dan Saykoji. 
                            Genre ini mulai mendapatkan pengakuan di luar lingkaran bawah tanah.
                        </p>
                    </li>
                
                    <li class="timeline-item mb-5">
                        <h5 class="timeline-title">Pengakuan di Mainstream</h5>
                        <p class="timeline-date mb-2">Tahun 2000-an</p>
                        <p class="timeline-desc">
                            Tahun 2000-an menjadi periode pengakuan mainstream yang lebih besar bagi hip-hop Indonesia. 
                            Seniman seperti Bondan Prakoso & Fade 2 Black, Agrikulture, dan RAN menggabungkan elemen hip-hop ke dalam musik mereka, mencapai khalayak yang lebih luas.
                        </p>
                    </li>

                    <li class="timeline-item mb-5">
                        <h5 class="timeline-title">Bangkitnya Generasi Baru</h5>
                        <p class="timeline-date mb-2">Tahun 2010-an</p>
                        <p class="timeline-desc">
                            Tahun 2010-an menyaksikan bangkitnya generasi baru seniman hip-hop yang mengadopsi berbagai gaya, termasuk trap, lo-fi hip-hop, dan suara eksperimental. 
                            Seniman-seniman terkenal dari periode ini termasuk Rich Brian (sebelumnya dikenal sebagai Rich Chigga), Young Lex, dan NIKI.
                        </p>
                    </li>

                    <li class="timeline-item mb-5">
                        <h5 class="timeline-title">Pertumbuhan Berlanjut dan Pengakuan Global</h5>
                        <p class="timeline-date mb-2">Tahun 2020-an</p>
                        <p class="timeline-desc">
                            Hip-hop Indonesia terus berkembang pada tahun 2020-an, dengan seniman-seniman yang mendapatkan pengakuan internasional dan berkolaborasi dengan seniman-seniman global. 
                            Scene ini semakin beragam, dengan seniman-seniman yang menjelajahi berbagai sub-genre dan gaya dalam hip-hop.
                        </p>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>    
</div>    
{% endblock %}